body{
    background-color: #8E243D;
    font-family: "itc-american-typewriter", serif;
}
header, footer{
    background-color: #266C64;
}
nav a{
    background-color: #EEB9CB;
    text-decoration: none;
    color: #266C64;
}
table{
    background-color: #EEB9CB;
    color: #8E243D;
}
header img{
    max-width: 10rem;
    display: inline-block;
}
img{
    max-width: 100%;
}
.story{
    background-color: #266C64;
    color: #C9E6DA;
    padding: .5rem;
}
.story h2{
    color: #EEB9CB;
    text-align: center;
}
.info{
    background-color: #EEB9CB;
    color: #8E243D;
    margin: 2rem;
}
.humane{
    background-color: #266C64;
    color: #C9E6DA;
}
.humane h2{
    color: #EEB9CB;
}
.cats h2{
    color: #266C64;
    background-color: #EEB9CB;
}
.cats img{
    max-width: 100%;
}
.donate{
    color: #266C64;
    background-color: #EEB9CB;
}
.volunteer, .employment{
    color: #C9E6DA;
    background-color: #266C64;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.donate h2{
    text-align: center;
}
.employment h3, .volunteer h3{
    text-align: center;
}
.donate, .volunteer, .employment{
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer{
    background-color: #266C64;
    padding: 1rem;
}
.cats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 13rem 1fr 13rem;
    gap: 1rem;
    color: #C9E6DA;
}
.cats h2{
    grid-area: 1/1/2/3;
    text-align: center;
}
.cats span{
    font-weight: 700;
    font-size: 1.25rem;
    color: #EEB9CB;
}
.contact{
    background-color: #266C64;
    color: #C9E6DA;
}
.contact h2{
    color: #EEB9CB;
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 6rem 1fr 1fr 1fr;
    gap: 1rem;
    background-color: #BF5267;
}
.reservations p{
    background-color: #EEB9CB;
    color: #266C64;
    margin-left: 5rem;
    margin-right: 5rem;
}
.reservations h3{
    color: #EEB9CB;
}
.reservations{
    text-align: center;
}
.reservations h2{
    background-color: #EEB9CB;
    color: #266C64;
    padding: 1rem;
}
menu h2{
    background-color: #266C64;
}
